.container,.topbar{float:left;display:block;width:100%}
.subbar,.topbar{margin-bottom:.5em}
html{box-sizing:border-box}
*,::after,::before{box-sizing:inherit}
body{color:#333;font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;font-size:90%}
a{cursor:pointer;color:#33f;text-decoration:none}
a.active,a:hover{text-shadow:0 0 .5em #99f}
.invalid{color:#c33}
.center{text-align:center}
.container{margin-right:2.35765%}
.container:last-child{margin-right:0}
.topbar{margin-right:2.35765%}
.topbar .info,.topbar .menu{width:48.82117%;float:left;display:block}
.topbar:last-child{margin-right:0}
.topbar .info{margin-right:2.35765%}
.topbar .info:last-child{margin-right:0}
.topbar .menu{margin-right:2.35765%;text-align:right}
.topbar .menu:last-child{margin-right:0}
.version{float:left;display:block;margin-right:2.35765%;width:100%;font-size:75%;color:#888;text-align:right}
.version:last-child{margin-right:0}
.subbar{float:left;display:block;margin-right:2.35765%;width:74.41059%}
.subbar:last-child{margin-right:0}
.subbar .nav{margin-left:51.17883%;float:left;display:block;margin-right:2.35765%;width:48.82117%}
.subbar .nav:last-child{margin-right:0}
.subbar .nav a{margin-right:.5em}
.resource-panel{float:left;display:block;margin-right:2.35765%;width:23.23176%}
.resource-panel:last-child{margin-right:0}
.action-panel{float:left;display:block;margin-right:2.35765%;width:74.41059%}
.action-panel:last-child{margin-right:0}
.action-panel .crafting-panel{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.action-panel .crafting-panel:last-child{margin-right:0}
.action-panel .crafting-panel .action-button{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.action-panel .crafting-panel .action-button:last-child{margin-right:0}
.action-panel .building-panel{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.action-panel .building-panel:last-child{margin-right:0}
.action-panel .building-panel .action-button{float:left;display:block;margin-right:2.35765%;width:48.82117%}
.action-panel .building-panel .action-button:last-child{margin-right:0}
.action-button{border:1px solid #88a;text-align:center;padding:.25em;border-radius:4px;margin:.15em .25em;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.action-button .detail{margin-top:.25em;font-size:70%;text-align:right}
.action-button .hint{text-align:left;display:none;position:absolute;background:rgba(51,51,255,.85);color:#eee;border-radius:3px;padding:.5em .5em 0;top:2.5em;right:5%;width:65%;font-size:70%;z-index:1}
.action-button .hint:after{bottom:100%;right:10%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:#fff;border-bottom-color:rgba(51,51,255,.85);border-width:6px;margin-left:-6px}
.action-button .hint .section{margin-bottom:.5em}
.action-button .hint .section .heading{font-weight:700}
.action-button .hint .section .invalid{color:#f99}
.action-button.inactive{color:#888;border-color:#888;cursor:pointer;opacity:.5}
.action-button.inactive a,.action-button.inactive a:hover{color:#888;cursor:default;text-shadow:none}
.action-button:hover{background:rgba(120,120,255,.05);border-color:#33f}
.action-button:hover .hint{display:block}
.action-button:hover a{text-shadow:0 0 .5em #99f}
.action-button.inactive:hover{background:inherit;border-color:#888;cursor:default}
.action-button.inactive:hover .hint{display:none}
.action-button.inactive:hover a{text-shadow:none}
table.empty{border:0}
td.right{text-align:right}