div(ng-controller="Buildings as bldc")
  div(ng-repeat="(b, building) in bldc.buildings.all()")
    .action-button(ng-if="!building.locked" ng-click="bldc.buildings.buy(bkey)" ng-class="{ 'inactive': !bldc.buildings.isBuyable(b) }")
      div {{building.name}} ({{building.value.current | numeric:0}})
      div.detail
        span(ng-repeat="(p, price) in bldc.buildings.prices(b)" ng-class="{ 'invalid': !price.affordable }")
          span(ng-if="price.$index") ,&nbsp;
          span {{price.name}}@{{price.buynow | numeric}}
        span &nbsp;
