div(ng-controller="Resources as resc")
  table.empty
    tbody
      tr(ng-repeat="resource in resc.resources" ng-if="resource.value.current > 0")
        td
          span {{resource.name}}:
        td.right 
          span {{resource.value.current | numeric}}
        td.right(ng-class="{ 'invalid': resource.rate < 0 }")
          span(ng-if="resource.rate != 0") ({{resource.rate | numeric}}/tick)
