div(ng-controller='Resources as res')
  div(ng-repeat='(rkey, r) in res.resources')
    div(ng-if='r.value.current > 0')
      |{{r.name}} {{r.value.current}}
      span(ng-if='r.value.limit > 0')
        |/{{r.value.limit}}
      |&nbsp;
      span(ng-if='r.rate > 0')
        |({{r.rate}}/tick)
