div(ng-controller="Submenu as sub")
  a(href="#/buildings" ng-class="{ 'active': sub.isOn('/buildings') }" ng-if="sub.hasBuildings()") Buildings
  a(href="#/tribe"  ng-class="{ 'active': sub.isOn('/tribe') }" ng-if="sub.hasTribe()") Tribe ({{sub.totalTribe()}})
