.topbar(ng-controller="Topbar as top")
  .info
    span Day {{1 + top.calendar().day}} of Year {{(1 + top.calendar().year) | number:0}} ({{['Spring', 'Summer', 'Autum', 'Winter'][top.calendar().season]}})
    
  .menu
    a(ng-click="top.save()") Save
