@import "bourbon";
@import "neat-helpers";
@import "neat";

$primary-color: #333;
$sub-color: #666;
$inactive-color: #999;
$error-color: #933;

body {
  color: $primary-color;
}

.container {
  @include span-columns(12);
}

.submenu {
  @include shift(3);
  @include span-columns(6);
  margin-bottom: 10px;
  a {
    margin-right: 10px;
  }
}

.resource-panel {
  @include span-columns(3);
}

.crafting-panel {
  @include span-columns(3);
  .action-button {
    @include span-columns(12);
  }
}

.action-panel {
  @include span-columns(6);
  .action-button {
    @include span-columns(6);
  }
}

.action-button {
  border: 1px solid $primary-color;
  cursor: pointer;
  text-align: center;
  padding: 5px;

  &.inactive {
    color: $inactive-color;
    border: 1px solid $inactive-color;
  }

  .detail {
    font-size: 70%;
    text-align: right;

    .invalid {
      color: $error-color;
    }
  }
}

table.empty {
  border: 0;
}
