@import "bourbon";
@import "neat-helpers";
@import "neat";

$primary-color: #333;
$border-color: #88a;
$sub-color: #666;
$inactive-color: #888;
$hover-bg: rgba(245, 245, 255, 0.9);
$error-color: #c33;
$link-color: #33f;
$link-active: #339;
$hint-bg: $hover-bg;
$hint-fg: $primary-color;
$hint-invalid: $error-color;

body {
  color: $primary-color;
  font-family: $helvetica;
  font-size: 90%;
}

a {
  cursor: pointer;
  color: $link-color;
  text-decoration: none;

  &.active, &:hover {
    text-shadow: 0px 0px 0.5em #99f;
  }
}

.invalid {
  color: $error-color;
}

.center {
  text-align: center;
}

.container {
  @include span-columns(12);
}

.topbar {
  @include span-columns(12);
  margin-bottom: 0.5em;

  .info {
    @include span-columns(6);
  }

  .menu {
    @include span-columns(6);
    text-align: right;
  }
}

.version {
  @include span-columns(12);
  font-size: 75%;
  color: $inactive-color;
  text-align: right;
}

.subbar {
  @include span-columns(9);
  margin-bottom: 0.5em;

  .nav {
    @include shift(6);
    @include span-columns(6);

    a {
      margin-right: 0.5em;
    }
  }
}

.resource-panel {
  @include span-columns(3);
}

.action-panel {
  @include span-columns(9);

  .crafting-panel {
    @include span-columns(6);
    .action-button {
      @include span-columns(6);
    }
  }

  .building-panel {
    @include span-columns(6);
    .action-button {
      @include span-columns(6);
    }
  }
}

.action-button {
  border: 1px solid $border-color;
  text-align: center;
  padding: 0.25em;
  border-radius: 4px;
  margin: 0.15em 0.25em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;

  .detail {
    margin-top: 0.25em;
    font-size: 70%;
    text-align: right;
  }

  .hint {
    text-align: left;
    display: none;
    position: absolute;
    top: 30px;
    background: $hint-bg;
    color: $hint-fg;
    border-radius: 3px;
    border: 1px solid $border-color;
    padding: 0.5em 0.5em 0 0.5em;
    top: 2.5em;
    right: 5%;
    width: 65%;
    font-size: 70%;
    z-index: 1;

    &:after, &:before {
      bottom: 100%;
      right: 10%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $hint-bg;
      border-width: 6px;
      margin-left: -6px;
    }

    &:before {
      border-color: rgba(136, 136, 170, 0);
      border-bottom-color: $border-color;
      border-width: 7px;
      margin-left: -7px;
    }

    .section {
      margin-bottom: 0.5em;

      .heading {
        font-weight: bold;
      }

      .invalid {
        color: $hint-invalid;
      }
    }
  }

  &.inactive {
    color: $inactive-color;
    border-color: $inactive-color;
    cursor: pointer;
    opacity: 0.5;

    a, a:hover {
      color: $inactive-color;
      cursor: default;
      text-shadow: none;
    }
  }

  &:hover {
    background: $hover-bg;
    border-color: $link-color;

    .hint {
      display: block;
    }

    a {
      text-shadow: 0px 0px 0.5em #99f;
    }
  }

  &.inactive:hover {
    background: inherit;
    border-color: $inactive-color;
    cursor: default;

    .hint {
      display: none;
    }

    a {
      text-shadow: none;
    }
  }
}

table.empty {
  border: 0;
}

td.right {
  text-align: right;
}
