@import "bourbon";
@import "neat-helpers";
@import "neat";

$primary-color: #333;
$sub-color: #666;
$inactive-color: #999;
$error-color: #933;

body {
  color: $primary-color;
}

.resource-panel {
  @include span-columns(3);
}

.action-panel {
  @include span-columns(6);

  .action-button {
    @include span-columns(6);
    border: 1px solid $primary-color;
    cursor: pointer;
    text-align: center;

    &.inactive {
      color: $inactive-color;
      border: 1px solid $inactive-color;
    }

    .detail {
      font-size: 75%;

      .invalid {
        color: $error-color;
      }
    }
  }
}

.log-panel {
  @include span-columns(3);
}
