doctype html
html(lang="en" ng-app="munchkins")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="description" content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width")
    title Munchkins
    style .ng-cloak { display: none; }
    link(rel="stylesheet" type="text/css" href="munchkins.css")
      
  body.ng-cloak(ng-controller="Game as game")
    .resource-panel(ng-include="'views/resources.html'")
    .action-panel(ng-view)
    .log-panel(ng-include="'views/log.html'")
      
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js")
    script(src="munchkins.js")
