.action-button(ng-if="!item.locked" ng-class="{ 'inactive': !ctrl.isBuyable(item) }" ng-click="ctrl.buy(item)")
  a {{item.name}} ({{item.value.current | numeric:0}})
  
  .detail
    span(ng-repeat="require in ctrl.requires(item)" ng-class="{ 'invalid': !require.affordable }")
      span(ng-if="require.buynow") &nbsp;{{require.name}}@{{require.buynow | numeric}}
    span &nbsp;
  
  .hint
    .section.center
      .content {{item.description}}
    
    .section(ng-if="item.hasRequires")
      .heading Required
      .content(ng-repeat="require in ctrl.requires(item)")
        span {{require.name}}&nbsp;@&nbsp;
        span(ng-if="require.buynow && !require.rate") {{require.buynow | numeric}}
        span(ng-if="require.rate") {{require.rate*4 | numeric}}/sec
        
    .section(ng-if="item.hasProvides")
      .heading Provides
      .content(ng-repeat="provide in ctrl.provides(item)")
        span {{provide.name}}&nbsp;@&nbsp;
        span(ng-if="provide.value && !provide.rate") {{provide.value}} 
        span(ng-if="provide.rate") {{provide.rate*4 | numeric}}/sec
  
