.action-button(ng-if="!item.locked" ng-class="{ 'inactive': !ctrl.isBuyable(item) }" ng-click="ctrl.buy(item)")
  a {{item.name}} ({{item.value.current | numeric:0}})
  
  .detail
    span(ng-repeat="require in ctrl.requires(item)" ng-class="{ 'invalid': !require.affordable }")
      span(ng-if="$index") ,&nbsp;
      span {{require.name}}@{{require.buynow | numeric}}
    span &nbsp;
  
  .hint
    .section.center
      .content {{item.description}}
    
    .section(ng-if="item.hasRequires")
      .heading Required
      .content(ng-repeat="require in ctrl.requires(item)")
        span {{require.name}} @ {{require.buynow | numeric}}
        
    .section(ng-if="item.hasProvides")
      .heading
        span Provides/
        span.invalid Consumes
      .content(ng-repeat="provide in ctrl.provides(item)")
        span(ng-if="provide.value") {{provide.value}} x {{provide.name}}
        span(ng-if="provide.rate" ng-class="{ 'invalid': provide.rate < 0 }") {{provide.rate | numeric}}/tick x {{provide.name}}
  
